body {
    font-family: sans-serif;
    background-color: yellow;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.contain {
             max-width: 500px;
                color: blue;
                margin: 0 auto;
                font-family: cursive;
                padding-top: 70px;
}

.container {
                max-width: 500px;
                color: grey;
                font-family: cursive;
                margin: 0 auto;
 }